modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 34243
externalPort = 3003

[[ports]]
localPort = 35231
externalPort = 3001

[[ports]]
localPort = 35997
externalPort = 6000

[[ports]]
localPort = 38491
externalPort = 5000

[[ports]]
localPort = 40309
externalPort = 4200

[[ports]]
localPort = 40373
externalPort = 3000

[[ports]]
localPort = 41645
externalPort = 3002

[[ports]]
localPort = 46537
externalPort = 5173
